@model Repository.Block
@{
    ViewData["Title"] = "Latest Block";
}

<h2>Latest</h2>

<p>View all the blocks in the <a asp-area="" asp-controller="Blocks" asp-action="BlockChain">Blockchain</a>.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Created</td>
            <td>Index</td>
            <td>Mined by</td>
            <td>Data</td>
            <td>Previous Hash</td>
            <td>Nonce</td>
            <td>Hash</td>
        </tr>
    </thead>
    <tbody>
        @{var block = Model;}
        <tr>
            <td>
                @block.createdTimeStampUtc
            </td>
            <td>
                @block.index
            </td>
            <td>
                @block.minedBy
            </td>
            <td>
                @block.data
            </td>
            <td>
                @block.previousHash
            </td>
            <td>
                @block.nonce
            </td>
            <td>
                @block.hash
            </td>
        </tr>
    </tbody>
</table>

